/* common css */
.flex-box {
  display: flex;
}
.container {
  /* width: 1366px; */
  margin: 0 auto;
}

/* custom css */
.nav-bar {
  /* width: auto; */
  justify-content: space-between;
  /* background-color: brown; */
  padding: 1rem 0 0 0;
}
.nav-bar a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.nav-logo {
  width: 25%;
  text-align: center;
}
.nav-links-items {
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}
.btn-green {
  background-color: rgb(153, 230, 37);
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  padding: 0.8rem 1.4rem;
  font-size: 0.7rem;
  cursor: pointer;
}
.btn-black {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.banner-section {
  position: relative;
  top: -78px;
  z-index: -1;
  background: url("../src/images/banner.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-content {
  padding: 10rem 0;
}
.banner-heading {
  font-size: 3.2rem;
  margin: 0;
}
.banner-content > p {
  margin: 0 0 2rem 0;
  font-weight: 800;
}
.multi-icon-section {
  background-color: #202221;
  width: 100%;
  margin-top: -4.855rem;
  padding: 1rem 0;
  justify-content: space-evenly;
}
.icon-divs {
  align-items: center;
}
.not-easy-section {
  margin: 3rem 0;
  padding: 0 1rem;
  justify-content: center;
}
.content-div {
  justify-content: center;
  width: 50%;
}
.not-easy-div {
  width: 40%;
  justify-content: center;
}

.jackfruit-section {
  background-color: #202221;
  color: #fff;
  padding: 5rem;
}
.jackfruit-image-div {
  width: 50%;
  justify-content: center;
  position: relative;
}
.jackfruit-image-div > img {
  position: absolute;
  top: 2%;
}
.middle-div{
  width: 10%;
}
.jackfruit-content-div {
  width: 45%;
  padding: 0 2rem 0 0;
}
.multi-img-section {
  justify-content: space-evenly;
  padding: 7rem 0 4rem 0;
}
.and-div {
  align-items: center;
}

.display-img-div {
  justify-content: center;
  margin-bottom: 2.5rem;
  width: 100%;
}
.food-chop-image {
  width: 40%;
}
.food-chop-image > img {
  width: 100%;
}
.raw-jack-div {
  background-color: #202221;
  color: #ffffff;
  padding: 3rem;
  width: 40%;
  height: 297.4px;
}
.raw-jack-div > h3 {
  font-size: 2.18rem;
  text-transform: uppercase;
}
.delicious-recipes-div {
  align-items: center;
  justify-content: space-evenly;
  background-color: #7ab829;
  padding: 2rem 0;
}
.jackfruit-heading {
  font-size: 2.18rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}
.jackfruit-heading > span {
  color: #286613;
  margin: 0 0.5rem 0 0;
}
.jackfruit-content {
  color: #fff;
  margin-top: 0;
}
.social-section {
  padding: 4rem 0;
}
.social-section > h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
.social-media-section {
  justify-content: space-evenly;
}
.social-media-card {
  position: relative;
  cursor: pointer;
}
.social-media-card > span {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  font-size: 2rem;
}
.form-section {
  justify-content: space-evenly;
  background-color: #eee;
  padding: 4rem 0;
}
.form-left-content {
  width: 40%;
}
.form-left-content > h3 {
  font-size: 2.18rem;
  margin-bottom: 0;
}
.form-left-content > p {
  margin-top: 0;
}
.form-div {
  width: 30%;
}
.form-div > form > input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border: none;
  margin: 0.5rem 0 0.5rem 0;
}
.form-div > form > div {
  text-align: center;
  margin: 2rem 0 0 0;
}
.footer-section {
  background-color: #202221;
  color: #fff;
  padding: 1.5rem;
}
.footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}
.footer-content-div {
  justify-content: space-evenly;
}
.footer-logo > img {
  margin-top: -3.9rem;
}
.footer-text > h2,
.footer-address > h5,
.footer-email > h5 {
  text-transform: uppercase;
  margin: -0.1rem 0 0.2rem 0;
}
.footer-links {
  flex-direction: column;
  align-items: flex-start;
  color: #7ab829;
  text-transform: uppercase;
  font-weight: 700;
}
.footer-links > label {
  font-size: 0.73rem;
  margin-bottom: 0.5rem;
}
.footer-address {
  flex-direction: column;
  align-items: flex-start;
}
.footer-email {
  flex-direction: column;
}
.footer-social-links {
  font-size: 2rem;
  gap: 0.8rem;
}
.footer-bottom-content {
  justify-content: space-between;
  font-size: 0.7rem;
  margin: 3rem 0 0 0;
}
